@charset "UTF-8";

#loginTable{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
#joinTable{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
#joinConfirmTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#joinSelectTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#accountInfoTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#accountDeleteTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#mypageTable{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#myzzimTable{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#accountSearchTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#aSearchResultTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#sellerDetailTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#accountUpdateTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
#gradeUpdateTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}