@charset "UTF-8";
#fundingRegTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
#fundingUpdateTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}