a{ text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

@font-face{
	src: url('../font/BMDOHYEON_OTF.OTF');
    font-family: 'BMDOHYEON'; 
}

#wrapTable {
	height: 2000px;
	width: 100%;
	text-align: center;
}

#indexcategory{
margin-left: 20px;
margin-bottom: 1000px;
}

#leftside {
	width: 25%;
}

ul {
	list-style-type: none;
	float: left;
}

#topMenu{
	font-family:'BMDOHYEON';
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

#subMenu{

	
}

