@charset "UTF-8";

.itemListTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-top: 30px;
	padding-bottom: 50px;
}

#regImg {
	width: 450px;
}

.categoryTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-top: 30px;
	padding-bottom: 50px;
}

.pUpdateTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.productRegTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.productFashionRegTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

#productOptionTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

#cartTalble {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

#regSelectTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.pSearchResultTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.productDetailTbl {
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.productImage img {
	width: 350px;
	height: 350px;
}

.icon img {
	width: 250px;
	padding-bottom: 40px;
}

#regButton {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 20px;
	background-color: #bed7cc;
	border: 0;
	outline: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-style: bold;
	float: right;
	background-color: #bed7cc;
}

#paging {
	padding-top: 20px;
	padding-bottom: 10px;
	color: gray;
}

#searchTbl {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 850px;
}

#productSearchButton {
	background-color: #bed7cc;
	border: 0;
	outline: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left:12px;
	padding-right: 12px;
	font-style: bold;
}

.category2 {
	position: relative;
	font-size: 14pt;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border:solid 2px;
	border-color: #bed7cc;
}

.category2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: black;
	-webkit-transform: scaleY(.3);
	transform: scaleY(.3);
	opacity: 0;
	transition: all .3s;
}

.category2:hover {
	color: white;
}

.category2:hover::before {
	opacity: 1;
	background-color: #bed7cc;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02),
		opacity .4s;
	transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}