
@charset "UTF-8";

.itemListTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}


#regImg{
	width:450px;
}

.categoryTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
.pUpdateTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
.productRegTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
.productFashionRegTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
#productOptionTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
#cartTalble{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
#regSelectTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
.pSearchResultTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}
.productDetailTbl{
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	
}

